@import '../../variables.scss';

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: $main-blue;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-default {
  padding: 80px;

  .navbar-brand {
    margin-top: 10px;
  }

  .navbar-nav {
    >a {
      color: $main-blue;
      margin: 15px 25px 5px 25px;
    }

    >a:hover,
    >a:active {
      color: $hover-main-blue;
      transition: color 1s ease 0s;
    }

    >.active {
      >a,
      >a:hover {
        transition: color 1s ease 0s;
        background-color: transparent;
        color: $hover-main-blue;
      }
    }
  }
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #fff;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

  &.navbar-default {
    padding: 20px 80px;
  }

  .navbar-brand {
    transition: color 1s ease 0s;
  }

  .navbar-nav {
    >a {
      transition: color 1s ease 0s;
    }
  }
}
