<nav class="navbar navbar-expand-sm navbar-default navbar-light fixed-top" [class.solid]="isSolid">
  <a class="navbar-brand" [routerLink]="">
    <img src="/assets/images/linetec.png" width="160" height="60" />
  </a>
  <button class="navbar-toggler" [class.collapsed]="isCollapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse w-100 order-3 dual-collapse2" id="navbarNav" [class.collapse]="isCollapsed" [class.show]="!isCollapsed">
    <div class="navbar-nav ml-auto">
        <a routerLink="/" fragment="diensten" class="nav-item nav-link" (click)="isCollapsed = !isCollapsed">{{ 'diensten' | uppercase }}</a>
        <a routerLink="verfsoorten" class="nav-item nav-link" (click)="isCollapsed = !isCollapsed">{{ 'verfsoorten' | uppercase }}</a>
        <a routerLink="/" fragment="about" class="nav-item nav-link" (click)="isCollapsed = !isCollapsed">{{ 'projecten' | uppercase }}</a>
        <a routerLink="/" fragment="contact" class="nav-item nav-link" (click)="isCollapsed = !isCollapsed">{{ 'contact' | uppercase }}</a>
    </div>
  </div>
</nav>
