@import '../../variables.scss';

.footer {
  background-color: #261213;
  padding: 50px;
}

.footer-info {
  color: #fff;
  font-size: 10px;
  color: #fff;
  text-align: right;
}

.footer-info-text {
  margin-bottom: 0;
}

.footer-column {
  height: 100%;
  text-align: left;
  width: fit-content;
  float: right;
  padding-top: 15px;
}

.footer-column1 {
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .footer-column {
    height: 100%;
    text-align: left;
    width: fit-content;
    float: none;
    padding-top: 15px;
  }
}
