<div class="container-fluid h-100 footer">
  <div class="row h-100">
    <div class="col-md-6 col-sm-4 col-4 h-100">
      <img src="/assets/images/linetec.png" width="160" height="60" />
    </div>
    <div class="col-md-6 col-sm-8 col-8 h-100">
      <div class="footer-info h-100">
        <div class="footer-column footer-column2">
            <p class="footer-info-text">{{info.email}}</p>
            <p class="footer-info-text">{{info.telephone}}</p>
          </div>
        <div class="footer-column footer-column1">
          <p class="footer-info-text">{{info.street}} {{info.number}}</p>
          <p class="footer-info-text">{{info.postal}} {{info.city}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
