<div class="container-fluid h-100 about">
  <div id="about" class="anchor-point"></div>
  <div class="row h-100 align-items-begin">
    <div class="col-md-5 col-sm-12 about-info">
      <p class="about-subtitle">{{ subtitle | uppercase }}</p>
      <p class="about-info">{{ info }}</p>
    </div>
    <div class="col-md-7 col-sm-12 about-cards">
      <div class="row h-100">
        <div *ngFor="let card of cards" class="col-md-4 col-sm-12">
          <app-card [image]="card.image" [description]="card.description"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
