<div class="card-item" *ngIf="image">
  <img class="card-img-top" src="{{'../../assets/images/'+image}}" alt="Card image cap">
  <div class="card-body">
  </div>
  <div class="card-footer">
    <small>{{ description }}</small>
  </div>
</div>
<div class="card-item empty-card" *ngIf="!image">
  <div class="card-img-top">
    <img class="empty-image" src="../../../assets/icons/arrow-top-right.svg" alt="Card image cap">
  </div>
  <div class="card-body">
  </div>
  <div class="card-footer empty-footer">
    <small>{{ description }}</small>
  </div>
</div>
