<div class="container h-100">
  <div id="concept" class="anchor-point"></div>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 concept-title">
      <h1 class="concept-title-title">{{ title }}</h1>
      <p class="concept-title-text">{{ text }}</p>
    </div>
    <div class="col-md-6 col-sm-12 concept-qoute">
      <p class="qoute">{{ qoute }}</p>
      <p class="qoute-writer">{{ qouteWriter | uppercase }}</p>
    </div>
  </div>
</div>
<div class="container-fluid h-100 concept-info-background">
  <div class="row h-100 align-items-end">
    <div class="col-md-6 col-sm-12 concept-info">
      <p class="concept-info-title">{{ infoOne }}</p>
      <img class="icon-bottom-right" src="assets/icons/arrow-right-bottom.svg" height="16" width="16" />
    </div>
    <div class="col-md-6 col-sm-12 concept-image-1"></div>
  </div>
</div>
<div class="container h-100 concept-info-3column">
  <div class="row h-100 justify-content-center align-items-center">
    <div *ngFor="let item of infoPoints" class="col-md-4 col-sm-12 concept-info-3column-item">
      <img class="concept-info-3column-item__icon" src="{{'assets/icons/'+item.icon+'.svg'}}" height="64" width="64" />
      <p class="concept-info-3column-item__title">{{ item.title }}</p>
      <p class="concept-info-3column-item__info">{{ item.info }}</p>
    </div>
  </div>
</div>
<div class="container-fluid h-100 concept-info-background">
  <div class="row h-100 align-items-end">
    <div class="col-md-6 col-sm-12 concept-image-2"></div>
    <div class="col-md-6 col-sm-12 concept-info">
      <p class="concept-info2-sub-title">{{ infoTwoSub | uppercase }}</p>
      <p class="concept-info2-title">{{ infoTwo }}</p>
    </div>
  </div>
</div>
