@import '../../variables.scss';

.main-qoute {
  color: $main-blue;
  text-align: center;
}

.image {
  background-color: $main-blue;
  background: url('../../assets/images/qoute-background.png') no-repeat center center;
  background-size: cover;
  height: 400px;
  margin-top: -20px;
  background-position:50% 44%;
  opacity: 0.5;

  p {
    text-align: center;
    padding: 20px 60px;
  }
}

.heading {
  font-size: 26px;
  color: $main-blue;
  text-align: center;
  padding-top: 180px;
  font-weight: 300;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  opacity: 1;
  position: absolute;
  top: 0;
}
