@import '../../variables.scss';

.main {
  background-size:cover;
  background-image:url('../../assets/images/qoute-background.png');
  background-position:50% 100%;
  height: 300px;
}

.main-qoute {
  color: $main-blue;
  text-align: center;
}

.image {
  background-color: $main-blue;
  background: url('../../assets/images/qoute-background.png') no-repeat center center;
  background-size: cover;
  height: 500px;
  margin-top: -20px;

  .heading {
    font-size: 25px;
    color: $main-blue;
    text-align: center;
    padding-top: 220px;
    font-weight: 400;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }

  p {
    text-align: center;
    padding: 20px 60px;
  }
}
